nav{
    padding: 1rem;
    background-color: #ECECEC;
}

li{
    list-style: none;
}
ul {
    display: flex;
    gap: 2rem;
}
a {
    text-decoration: none;
    color: var(--color-primary-400);
    font-size: 1.25rem;
}
.unList a:hover,
.unList a:active {
    color: #EB5757;
    text-decoration: underline;
}
.active{
    color: #EB5757;
    text-decoration: underline;
}
@media (max-width: 425px) {
    nav{
        display: flex;
        justify-content: center;
    }
    nav ul li a{
        font-size: 1rem;
        
    }
}